* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  scroll-behavior: smooth;
  font-family: "Malayalam-regular";
}

body {
  overflow-x: hidden;
}

/* fonts */
@font-face {
  font-family: "Malayalam-regular";
  src: url(/assets/MalayalamMN-01.ttf);
}
@font-face {
  font-family: "Malayalam-bold";
  src: url(/assets/MalayalamMN-Bold-02.ttf);
}

a {
  text-decoration: none !important;
}

img {
  width: 100%;
}

header {
  width: 100%;
  background-color: #6e2d48;
  color: #ffffff;
}

header .container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

header .logo img {
  width: 8vw;
}

header .container .logo {
  margin-bottom: -4rem;
}

header .navbar a {
  padding: 0 3rem;
  color: #ffffff;
}

.banner {
  background-color: #6e2d48;
  height: 95vh;
}

.banner .carousel {
  text-align: -webkit-right;
}

.banner .carousel-inner img {
  width: 75% !important;
}

.banner .carousel-caption {
  right: auto;
  left: 6%;
  top: 40%;
  bottom: 40%;
  text-align: left;
}

.banner .carousel-caption h1 {
  font-size: 3rem;
}

#bannerOne-caption {
  right: auto;
  left: 17.5%;
  top: 30%;
  bottom: 40%;
  text-align: center;
  width: 15%;
}

#bannerOne-caption img {
  width: 100% !important;
}

.about {
  padding: 5rem 0;
}

.about .container .row img {
  width: 100%;
  z-index: 9;
  position: relative;
}

.about .img-col {
  margin-left: 3rem;
}

.image-text {
  margin-top: 3rem;
}

.image-text .bg {
  height: 25vh;
  background-image: url("/assets/bg-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.3;
  width: 65%;
}

.image-text h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: -7rem;
  margin-right: 8rem;
  color: #cc9d58;
  font-weight: bold;
}

.about .card-text {
  height: 50vh;
  background-image: url("/assets/bg-texture.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #cc9d58;
  margin: 6rem 0rem 0 -6rem;
  padding: 4rem 3rem 5rem 6rem;
}

.about .card-text h3 {
  font-size: 2.2rem;
  text-align: center;
  font-weight: bold;
}

.about .card-text p {
  font-style: italic;
  font-size: 1.1rem;
  text-align: justify;
  margin-top: 1.5rem;
}

.royal-tag .tag-line {
  border-top: 2px solid;
  margin: 0px 0px -14px -70px;
  width: 50%;
}

.royal-tag {
  transform: rotate(270deg);
  position: absolute;
  left: 2%;
}

.banner .royal-tag {
  top: 82vh;
  color: white;
  z-index: 2;
}

.side-text h1 {
  transform: rotate(270deg);
  position: absolute;
  right: -13%;
  font-size: 4rem;
  margin-top: -20rem;
  float: right;
  color: #ebdac0;
  font-weight: bold;
}

.about .royal-tag {
  color: #6e2d48;
  margin-top: -5rem;
}

.overview {
  padding: 14rem 0 5rem 3rem;
}

.overview .card-text {
  background-image: url("/assets/bg-texture.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 1.5rem 10rem 1rem 3rem;
  margin-right: 3rem;
}

.overview .card-text h3 {
  font-size: 1.4rem;
  color: #cc9d58;
  margin-bottom: -3px;
  font-weight: bold;
  letter-spacing: 1px;
}
.overview .card-text p {
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
}

.overview .text-col {
  margin-left: -2rem;
}

.overview .img-col {
  margin: -9rem auto auto -15rem;
}
.overview .img-col img {
  width: 95%;
}
.overview .royal-tag {
  margin-top: -9rem;
  color: #6e2d48;
}
.overview .image-text {
  margin-top: 2rem;
  margin-left: 11.5rem;
  margin-right: 3rem;
}
.overview .image-text h1 {
  margin-top: auto;
  margin-right: auto;
}
.overview .side-text h1 {
  right: -8%;
}
.smart-living {
  padding: 4rem 0;
}
.smart-living .text h1 {
  color: #cc9d58;
  text-align: center;
  font-size: 3.7rem;
  font-weight: bold;
  letter-spacing: 3px;
}
.smart-living .text h3 {
  font-size: 2.5rem;
  text-align: center;
  color: #cc9d58;
  font-weight: bold;
  letter-spacing: 2px;
}
.smart-living .text p {
  font-size: 1rem;
  text-align: center;
  color: #cc9d58;
  font-weight: bold;
}
.smart-living .container .text .bg{
  position: relative;
}
.smart-living .container .text .bg::before {
  background-image: url("/assets/bg-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: opacity(0.2);
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.smart-living .container .text .bg-text{
  position: relative;
  margin: 2rem 0 0 0;
  padding: 2rem 0;
}
.master-plan{
  padding: 6rem 0 4rem 0;
}
.club-royal{
  padding: 6rem 0 0 0;
  background-color: #6e2d48;
}
.club-royal .text h1{
  font-size: 4rem;
    text-align: center;
    padding: 0 2rem;
    color: #CC9D58;
}
.club-royal .image{
  text-align: center;
}
.club-royal .image img{
  width: 60%;
    margin: 3rem 0 -8rem 0;
}
.amenities-text p{
  margin: 8rem 0 0 0;
  color: #CC9D58;
  font-weight: bold;
}
.club-royal .side-text h1{
  right: -10%;
}
.master-plan-image{
  margin: 0 4rem;
  padding: 4rem;
    box-shadow: 0px 8px 20px 0px;
}
.floor-plan img{
  width: 50%;
}

@media screen and (min-width: 1920px) {
}
@media screen and (min-width: 1022px) and (max-width: 1500px) {
}
@media screen and (min-width: 1022px) and (max-width: 1270px) {
}
@media screen and (min-width: 621px) and (max-width: 1021px) {
}

@media screen and (max-width: 620px) {
  .navbar {
    display: none !important;
  }
  header .logo img {
    width: 17vw;
  }
  header .container .logo {
    margin-bottom: auto;
  }
  header .container {
    padding: 1rem 2rem;
  }
  .banner {
    height: auto;
  }
  .banner .carousel-inner img {
    width: auto !important;
    height: 35vh;
    filter: brightness(0.8);
  }
  .banner .carousel-caption h1 {
    font-size: 1.6rem;
  }
  #bannerOne-caption img {
    height: auto;
    width: 25% !important;
    filter: none;
  }
  .banner .royal-tag {
    top: 38vh;
  }
  /* .royal-tag{
  left: auto;
} */
  .royal-tag span {
    font-size: 0.5rem;
  }
  .royal-tag .tag-line {
    margin: 0px 0px -7px -35px;
    width: 40%;
  }
  .about .img-col {
    margin: 0;
  }
  .about .image-text {
    margin: auto;
  }
  .about .image-text .bg {
    height: 10vh;
    width: 49%;
  }
  .about .image-text h1 {
    font-size: 1rem;
    margin: -3rem 0 0 -2rem;
  }
  .about .side-text h1 {
    font-size: 2rem;
    margin-top: -9rem;
    right: -23%;
  }
  .about .card-text {
    height: auto;
    margin: 2rem 0rem 0 -2.5rem;
    padding: 1rem 1rem 1rem 1.5rem;
  }
  .about .card-text h3 {
    font-size: 0.9rem;
  }
  .about .card-text p {
    font-size: 0.5rem;
    margin: auto;
  }
  #bannerOne-caption {
    width: auto;
    top: 20%;
    left: 15%;
    text-align: left;
  }
  .banner .carousel-caption {
    top: 30%;
  }
  .about .row {
    margin: 0;
  }
  .about {
    padding: 3rem 0;
  }
  .about .royal-tag {
    display: none;
    margin-top: 3rem;
  }
  .overview {
    padding: 7rem 0 5rem 3rem;
  }
  .overview .img-col {
    margin: -4rem auto auto -15rem;
  }
  .overview .img-col img {
    width: 100%;
  }
  .overview .image-text {
    margin: 0;
  }
  .overview .image-text h1 {
    font-size: 1rem;
    margin-top: -12rem;
    /* margin-left: 6rem; */
    /* padding: 1rem 0; */
  }
  .overview .card-text {
    padding: 1rem;
    margin: auto;
  }
  .overview .card-text h3 {
    font-size: 0.9rem;
    margin-bottom: -1px;
    letter-spacing: normal;
  }
  .overview .card-text p {
    font-size: 0.4rem;
    margin-bottom: 8px;
  }
  .overview .side-text h1 {
    font-size: 2rem;
    margin-top: -8rem;
    right: -14%;
  }
  .smart-living {
    padding: 1rem 0 0 0;
  }
  .smart-living .text h1 {
    font-size: 2.5rem;
  }
  .smart-living .text h3 {
    font-size: 1.8rem;
    padding: 0rem;
    letter-spacing: 1px;
  }
}
